<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.TwistyTails"
        tools:targetApi="31">
        <activity
            android:name=".slider.GetStartedActivity"
            android:exported="false"
            android:screenOrientation="portrait"/>
        <activity
            android:name=".SplashActivity"
            android:exported="true"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".CustomerProfileActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerCartActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BookStoreActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ViewServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".OwnerHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerHomeActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".CustomerRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".UploadProductActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".ServiceDetailAdapterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AddServiceActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalMenuActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".HospitalRegisterActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".signupadmin"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".AdminLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".SelectLoginActivity"
            android:exported="false"
            android:screenOrientation="portrait"></activity>
    </application>

</manifest>